@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Pretendard-Regular';
	list-style: none;
}

/*a {*/
/*	text-decoration: none;*/
/*	color: rgb(255, 255, 255);*/
/*}*/

a.login-help-text4 {
	flex: 1 auto;
	margin-right: 0;
	color: #b2b2b2;
}

a.join-btn {
	color: #3ebd5d;
	cursor: pointer;
}

body {
	position: relative;
	min-height: 100vh;
}

/* header 태그 안에 CSS 속성 */
header {
	height: 70px;
	background-color: #3ebd5d;
	color: white;
	line-height: 70px;
	padding: 0px 30px;
}

.header-nav {
	display: flex;
	justify-content: space-between;
}

.nav-menu {
	margin-right: 10px;
}

.content-user-list h1 {
	text-align: center;
}

.login-page {
	width: 450px;
	padding: 7% 0 0;
	margin: auto;
	/* border: 1px solid rgb(0, 233, 155); */
}

.form {
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 400px;
	margin: 0 auto 100px;
	padding: 25px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
	/* border: 1px solid rgb(0, 233, 155); */
}

.login-help-text1 {
	margin: 0 auto;
	padding: 25px;
	text-align: center;
}

.form input {
	font-family: 'Roboto', sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	/* border: 1px solid rgb(0, 233, 155); */
}

.login-help-text3 {
	margin: 13px 50px 8px 0px;
}

.login-help-text2 {
	margin: 20px auto 20px 0;
}

span {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 6px;
}

.form button.login-btn {
	margin: 0 0 10px;
	text-transform: uppercase;
	outline: 0;
	font-size: 17px;
	background: #3ebd5d;
	width: 100%;
	border: 2px solid #d7d7d7;
	padding: 15px;
	color: #000000;
	border-radius: 10px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	border: 2px solid #d7d7d7;
	font-weight: 900;
}

.form button.login-btn:hover {
	color: #ffffff;
}

img.loin-img {
	width: 28px;
	height: 28px;
	left: 664px;
	top: 706px;
	vertical-align: middle;
}

.form button.google-btn {
	margin: 0 0 10px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #ffffff;
	width: 100%;
	border: 2px solid #d7d7d7;
	padding: 15px;
	color: #000000;
	font-size: 14px;
	border-radius: 10px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	border: 2px solid #d7d7d7;
	font-weight: 900;
}

.form button.kakao-btn {
	margin: 0 0 10px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #f9e000;
	width: 100%;
	border: 2px solid #d7d7d7;
	padding: 15px;
	color: #000000;
	font-size: 14px;
	border-radius: 10px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	font-weight: 900;
}

.form button.naver-btn {
	margin: 0 0 15px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #48484b;
	width: 100%;
	border: 2px solid #d7d7d7;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	border-radius: 10px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	font-weight: 900;
}

.form button:hover, .form button:active, .form button:focus {
	border: 2px solid #ff7b00;
}

.join-btn:hover {
	color: #ff7b00;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #008000;
	text-decoration: none;
}

.container {
	position: relative;
	z-index: 1;
	max-width: 100%;
	margin: 0 auto;
	height: auto;
	min-height: 100%;
	padding-bottom: 70px;
}

.content-user-list-ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.list-item {
	margin: 10px;
}

.user-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* footer 태그 안에 CSS 속성 */
footer {
	position: absolute;
	bottom: 0;
	background-color: #3ebd5d;
	color: white;
	width: 100%;
	height: 70px;
	line-height: 70px;
}

.footer-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-list a {
	margin: 0px 10px;
}